/* {
    border: 1px solid white;
}*/

body {
    background-image: url(images/background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: Luminari, "Comic Sans MS", sans-serif;
}

.luck {
    text-align: center;
    font-size: 84px;
    font-weight: 900;
    width: 800px;
    background-color: #004526;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: rgb(238, 238, 154);
    margin-bottom: 16px;

}

.instruct {
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #004526;
    background-color: rgb(238, 238, 154);
    border: 2px solid #004526
    
}

.button-container {
    display: flex;
    justify-content: center;
    
}

.buttons img {
    width: 250px;
    height: 250px;
    
}

.buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 3em;
    justify-content: space-around;
}

button {
    border: 8px solid #F0E68C;
    
    
}
