body {
    background-image: url(images/background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: Luminari, "Comic Sans MS", sans-serif;
}

.luck {
    text-align: center;
    font-size: 84px;
    font-weight: 900;
    width: 800px;
    background-color: #004526;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: rgb(238, 238, 154);
    margin-bottom: 16px;
    border: 4px solid rgb(238, 238, 154)
}

.instruct {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #004526;
    background-color: rgb(238, 238, 154);
    border: 2px solid #004526
}

.button-container {
    display: flex;
    justify-content: center;

}

.action-button#rock {
    background-image: url("images/rock.jpg");
}

.action-button#paper {
    background-image: url("images/paper1.jpg");
}

.action-button#scissors {
    background-image: url("images/scissors.jpg");
}

.action-button {
    width: 250px;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 3em;
    justify-content: space-around;
}

button {
    border: 8px solid #F0E68C;
    cursor: pointer;
}

button:active {
    border: 8px solid #004526;
}

button:hover {
    transform: scale(1.1);
}

#return {
    margin-bottom: 36px;
    ;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #004526;
    background-color: rgb(238, 238, 154);
    border: 2px solid #004526
}

.scoreBox {
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    width: 800px;
    background-color: #004526;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: rgb(238, 238, 154);
    margin-bottom: 16px;
    border: 4px solid rgb(238, 238, 154)
}

#scores {
    display: flex;
    justify-content: center;
    justify-content: space-around;

}